<div class='controls'>
  <div class='filter'>
    Filter by:
    <select data-placeholder='Author' id='author'>
      <% for author in all_lines.map(&:author).uniq %>
        <option><%= author %></option>
      <% end %>
    </select>
  </div>
</div>

<% for line in all_lines %>
  <div class='line'>
    <div class='meta'>
      <div class='padding'>
        <span class='date'><%= line.pretty_time %></span>
        <span class='author'><%= line.author %></span>
        <span class='file'><a href='<%= line.filename %>'><%= line.filename %>:<%= line.line_number %></a></span>
      </div>
    </div>
    <div class='content'>
      <div class='padding'>
        <span><%= ERB::Util.html_escape(line.content) %></span>
      </div>
    </div>
  </div>
<% end %>

<script type='text/javascript'>
  $(document).ready(function() {
    $('select#author').chosen();

    $('select#author').change(function() {
      selectedValue = $(this).val();
      $('div.line').each(function(i, line) {
        lineElement = $(line);
        var author = lineElement.find($('span.author')).text();

        if (author === selectedValue) {
          lineElement.show();
        } else {
          lineElement.hide();
        }
      });
    });
  });
</script>

