<% for line in all_lines %>
  <div class='line'>
    <div class='meta'>
      <span class='date'><%= line.pretty_time %></span>
      <span class='author'><%= line.author %></span>
      <span class='file'><a href='<%= line.filename %>'><%= line.filename %>:<%= line.line_number %></a></span>
    </div>
    <div class='content'>
      <span><%= line.content %></span>
    </div>
  </div>
<% end %>

